@model IEnumerable<ShkoloASPNETcore.Infrastructure.Data.Models.Student>
@{
    ViewData["Title"] = "Ученици";
}

<div class="container mt-4">
    <div class="border-bottom border-dark pb-2 mb-3">
        <h2 class="m-0 text-uppercase fw-bold">Списък на Учениците</h2>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ИМЕ</th>
                <th>ФАМИЛИЯ</th>
                <th>ID В СИСТЕМАТА</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="3" class="text-center p-3">Няма регистрирани ученици в системата.</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fw-bold text-dark">@item.FirstName</td>
                    <td class="fw-bold text-dark">@item.LastName</td>
                    <td>@item.Id</td>
                </tr>
            }
        </tbody>
    </table>
</div>